services:
  postgres:
    image: postgres:17
    environment:
      POSTGRES_DB: payroll_db
      POSTGRES_USER: payroll_user
      POSTGRES_PASSWORD: payroll_pass
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - payroll-net

  zookeeper:
    image: zookeeper:3.9
    environment:
      ALLOW_ANONYMOUS_LOGIN: "yes"
    ports:
      - "2181:2181"
    networks:
      - payroll-net

  kafka:
    image: apache/kafka:4.1.0
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_CFG_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_CFG_LISTENERS: PLAINTEXT://:9092
      KAFKA_CFG_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      ALLOW_PLAINTEXT_LISTENER: "yes"
    ports:
      - "9092:9092"
    networks:
      - payroll-net
    volumes:
      - kafka_data:/bitnami/kafka

  backend:
    build: .
    depends_on:
      - postgres
      - kafka
    environment:
      SPRING_DATASOURCE_URL: "jdbc:postgresql://postgres:5432/payroll_db"
      SPRING_DATASOURCE_USERNAME: payroll_user
      SPRING_DATASOURCE_PASSWORD: payroll_pass
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_PROFILES_ACTIVE: docker
    ports:
      - "8080:8080"
    networks:
      - payroll-net

volumes:
  postgres_data:
  kafka_data:

networks:
  payroll-net:
    driver: bridge
